# To install these Python dependencies, please type:
# > pip install -r requirements.txt
# or if you use conda:
# > conda install --file requirements.txt

# uncomment if installing using pip (NOT needed for building docker image. Will "Illegal instruction" error if used)
# faiss-cpu 
streamlit
tensorflow>=1.15
numpy
matplotlib
scipy
scikit-learn
pandas
pillow
pyyaml


# other notes: 
# if faiss-cpu fails to install using default channels, use
# conda install -c pytorch faiss-cpu


